body
{
    background: #eee;
}

form
{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

input
{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

.valid
{
    color: limegreen;
    font-style: italic;
}

.invalid
{
    color: crimson;
    font-style: italic;
}

.borderValid
{
    border: 2px solid limegreen;
    focus: none;
}

.borderInvalid
{
    border: 2px solid crimson;
    focus: none;
}